@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

*{ 
    margin: 0; 
    box-sizing: border-box; 
    padding: 0; 
}

body{
    background-color: var(--light-gray);
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    width: 300px;
    overflow: hidden;
    background: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 18px rgba(46, 46, 46, 0.11);
}

main img{
   width: 100%;
   border-radius: 0.60rem;
}

h1, p{
    font-family: 'Outfit', sans-serifs;
    text-align: center;
}

h1{
    margin: 0.5rem 0rem 1rem;
}

p{
    color: var(--dark-blue);
}
